<%- include('../includes/head') %>
<%- include('../includes/navbar') %>

<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6">Recursos Recomendados</h1>
    
    <div class="card w-full bg-base-100 shadow-md mb-4">
        <div class="card-body">
            <h2 class="card-title">Recurso 1</h2>
            <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Ver Más</button>
            </div>
        </div>
    </div>
    
    <div class="card w-full bg-base-100 shadow-md mb-4">
        <div class="card-body">
            <h2 class="card-title">Recurso 2</h2>
            <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Ver Más</button>
            </div>
        </div>
    </div>
    
    <div class="card w-full bg-base-100 shadow-md mb-4">
        <div class="card-body">
            <h2 class="card-title">Recurso 3</h2>
            <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Ver Más</button>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer') %>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>
</html>