<%- include('../includes/head') %>
<%- include('../includes/navbar') %>

<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6">Recursos Recomendados</h1>
    <ul class="list-disc pl-5 space-y-2">
        <li>Recurso 1</li>
        <li>Recurso 2</li>
        <li>Recurso 3</li>
    </ul>
</div>

<%- include('../includes/footer') %>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>
</html>
