<%- include('../includes/head') %>
<%- include('../includes/navbar') %>

<div>
    <h1 class="text-3xl font-bold mb-6">Material</h1>
</div>

<%- include('../includes/footer') %>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>
</html>
